*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

html{
    /* 
    1rem = 16px;
    10px/16px = 0.625rem; = 62.5%;
    */
    font-size: 62.5%;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

/* ********************************* */
/* GENERAL COMPONENT */
/* ********************************* */

.grid {
    display: grid;
    /* gap: 9.6rem; */
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2,1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3,1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4,1fr);
}




