/* === Global Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/**************************************************/
/* BELOW 900px CSS : for landscape Tablets  900px/16px = 56em = 56rem as 1rem = 1em = 16px */
/**************************************************/

@media (max-width: 56rem){
    .cards-section {
    /* justify-content: center; */
    gap: 4rem;
    /* padding: 8rem 0; */
    }

    .appoint-box {
    width: 55%;
    }

    .carding {
    display: flex;
    padding: 4rem 1rem;
    gap: 2rem;
    }
}